.Transactions-table{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #CCC;
    border-radius: 10px;
    margin-top: 20px;
}

.Transactions-table th {
    padding: 10px 0;
    text-align: left;
}

.Transactions-table td{
    padding: 10px 0;
    text-align: left;
}